* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.icon-colors {
    color: #f35525
}

.icon-colors-active {
    color: rgb(140, 140, 140)
}

.icon-colors-active:hover {
    color: #f35525
}

.subheader{
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
    border-bottom: #9292924c solid 1px;
}

.subheader ul{
    display: flex;
    align-items: center;
}

.subheader li {
    list-style: none;
    padding-right: 50px;
}

.social-links{
    font-size: 22px;
}

.header-container {
    padding: 24px 80px;
}

.header-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1{
    font-weight: 700;
    letter-spacing: 2px;
}

.header-container a {
    text-decoration: none;
    color: black;
}

.header-container ul{
    display: flex;
}

.header-container li {
    list-style: none;
    padding-right: 24px;
}
