.featured-body-container {
    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.featured-body-container h2 {
    font-weight: 800;
}

.toggle-button {
    background: none;
    border: 0;
    outline-width: 0;
}

.active {
    color: #f35525;
}

.accordion-main-container {
    width: 400px;
}

.card {
    border-radius: 0;
}

.card:first-child {
    border-radius: 16px 16px 0 0;
}

.card:last-child {
    border-radius: 0 0 16px 16px;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
}